
@model Escuela

@{
    var listaColores = new List<string>()
    {
        "alert alert-primary",
        "alert alert-danger",
        "alert alert-success",
        "alert alert-warning",
        "alert alert-info",



    };
    Random rnd = new Random();

    int i = rnd.Next(0, listaColores.Count);
    string color = listaColores[i];
}

<div class=" @color">
    <h3>Nombre: @Model.Nombre </h3>
    <h4>ID: @Model.Id </h4>
    <h4>Direccion: @Model.Direccion</h4>
    <h4>Nivel academico: @Model.AtributoTipoDeEscuela</h4>
    <h4>Año de fundacion: @Model.Fundacion</h4>

</div>