@model IEnumerable<WebEscuela.Models.Evaluacion>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewBag.HideNavbar = true;
}

<h1>Evaluaciones</h1>



<table class="table table-bordered" style="text-align: center" id="tablaEvaluaciones">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignatura.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
          
        </tr>
}
    </tbody>
</table>

                @{
    ViewBag.OcultarFooter = true;
}