@model IEnumerable<WebEscuela.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Cursos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Agregar nuevo curso</a>
</p>
<table class="table table-bordered" style="text-align: center">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Escuela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                <p>Acciones</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Escuela.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

                <a asp-controller="Curso" asp-action="PrintPdf" class="btn btn-outline-secondary">Descargar tabla</a>